body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.panel {
  width: 50%;
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 5px black;
}

input, textarea, select, button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}
